<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <style>
            body {
                background-image: url("https://wallpapercave.com/wp/wp4059913.jpg");
                background-repeat: no-repeat;
                background-size: 100%;
            }
        </style>
    </head>

<body>
    

    <div class="login">
        <h1 style="font-size: 2rem;
           margin-top: 0;
           text-align: center;
           color: beige;">
      IPL Match Predictor
</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: goldenrod;">PLAYER RATING PREDICTOR</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: orange;">PLAYER NAME</label>
            <input type="text" name="Player_Name" placeholder="Enter Your Player Name">
            
          </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: goldenrod;">PlAYER ROLE</label>
            <select class="form-control" name="Role_Desc" placeholder="Enter Player Role" required>
                <option class="placeholder" selected disabled value="">Select Role</option>
                <option value="Captain">
                    Captain
                </option>
                <option value="Player">
                    Player
                </option>
                <option value="Keeper">
                    Keeper
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: orange;">FAVOURITE PLAYER TEAM</label>
            <select class="form-control" name="Player_team"
                placeholder="Enter your Favourite team" required>
                <option class="placeholder" selected disabled value="" >Select Favourite team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: orange;">OPPOSITE PLAYER TEAM</label>
            <select class="form-control" name="Opposit_Team" placeholder="Enter your Opposite Team" required>
                <option class="placeholder" selected disabled value="">Select your opposite team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: orange;">MAN OF THE MATCH</label>
            <select class="form-control" name="is_manofThematch" placeholder="Man Of the Match"
                required>
                <option class="placeholder" selected disabled value="">Player Will Won Man Of the Match</option>
                <option value="1">
                    True
                </option>
                <option value="0">
                    False
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 2rem;
            margin-top: 0;
            text-align: left;
            color: orange;">HOME GROUND TEAM</label>
            <select class="form-control" name="City_Name" placeholder="Enter Home Ground Team" required>
                <option class="placeholder" selected disabled value="">Select your Home Ground team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>

        <div class="mb-3">
            <input style="font-size: 1rem;
                          padding: 0.5rem 1rem;
                          margin-top: 0;
                          text-align: left;
                          color: orange;" 
                   class="btn btn-primary" 
                   type="submit" 
                   value="Predict your Player Score" 
                   required />
        </div>
    </form>
    <h2 style="font-size: 2rem;
    margin-top: 0;
    text-align: left;
    color: #ffa500;">
        YOUR PLAYER SCORE IS  {{results}}
    </h2>
   <body>
</html>