<!DOCTYPE html>
<html>
    <head>
        <title>IPL PLAYER RATING</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            body {
                background-image: url("https://wallpapercave.com/wp/wp4059913.jpg");
                background-repeat: no-repeat;
                background-size: 100%;
            }
        </style>    
        
    </head>

<body>
        <h1 >
            IPL Match Predictor - Sowmya Potharlanka
        </h1>
        

    <div class="form-box">

       <form action="{{ url_for('predict_datapoint')}}" method="POST">
      
        <div class="form-group">
            <label for ='Player_Name'>PLAYER NAME</label>
            <input type="text"  class = "form-group" name="Player_Name" placeholder="Enter Your Player Name">
            
          </div>
        <div class="form-group">
            <label for="Role_Desc">PlAYER ROLE</label>
            <select class="form-group" name="Role_Desc" placeholder="Enter Player Role" required  style="background-color: rgb(216, 227, 231);color: black;">
                <option class="form-color" selected disabled value="">Select Role</option>
                <option value="Captain">
                    Captain
                </option>
                <option value="Player">
                    Player
                </option>
                <option value="Keeper">
                    Keeper
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for ="Player_team">FAVOURITE PLAYER TEAM</label>
            <select id="Player_team" name="Player_team" class ="form-group"
                placeholder="Enter your Favourite team" required style="background-color: rgb(216, 227, 231);color: black;">
                <option class="form-group" selected disabled value="" >Select Favourite team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="Opposit_Team">OPPOSITE PLAYER TEAM</label>
            <select class="form-group" name="Opposit_Team" placeholder="Enter your Opposite Team" required style="background-color: rgb(216, 227, 231);color: black;">
                <option class="form-group" selected disabled value="">Select your opposite team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="is_manofThematch">MAN OF THE MATCH</label>
            <select class="form-group" name="is_manofThematch" placeholder="Man Of the Match"
                required style="background-color: rgb(216, 227, 231);color: black;">
                <option class="form-group" selected disabled value="">Player Will Won Man Of the Match</option>
                <option value="1">
                    True
                </option>
                <option value="0">
                    False
                </option>
            </select>
        </div>
        <div class="form-group" >
            <label for="City_Name">HOME GROUND TEAM</label>
            <select class="form-group" name="City_Name" placeholder="Enter Home Ground Team" required style="background-color: rgb(216, 227, 231);color: black;">
                <option class="placeholder" selected disabled value="" >Select your Home Ground team</option>
                <option value="Royal Challengers Bangalore">
                    Royal Challengers Bangalore
                </option>
                <option value="Kolkata Knight Riders">
                    Kolkata Knight Riders
                </option>
                <option value="Chennai Super Kings">
                    Chennai Super Kings
                </option>
                <option value="Kings XI Punjab">
                    Kings XI Punjab
                </option>
                <option value="Delhi Daredevils">
                    Delhi Daredevils
                </option>
                <option value="Rajasthan Royals">
                    Rajasthan Royals
                <option value="Deccan Chargers">
                    Deccan Chargers
                <option value="Mumbai Indians">
                    Mumbai Indians
                </option>
            </select>
        </div>

        <div style="clear:both;" ></div>
      <input type="submit" value="Submit" >
    </form>
    </div>
     <h2 >
      Your Player Score Is : {{ results }} Out Of 5
    </h2>
  </body>
</html>
